$w: 100%;
@import "./public.scss";
body {
  width: $w;
height: 100%;
}
#banner {
  margin-top: 80px;

  img {
    width: 100%;
  }
}

.active {
  display: block !important;
}
#main {
  width: 100%;

  .main_lbt {
    height: 346px;
    width: 100%;
    background: url("./../images/bg1.jpg") no-repeat;
    background-size: contain;
    position: relative;

    .lbt {
      position: absolute;
      top: 68px;
      left: 300px;
      overflow: hidden;
      width: 705px;
      height: 250px;
      margin-left: 20px;
      overflow: hidden;
      .carousel-item {
        transition: 0.5s;
      }
      img {
        height: 250px;
      }
    }
    a {
      position: absolute;
      width: 50px;
      height: 70px;
      display: block;
      top: 46%;
    }
    .prevs {
      left: 262px;
      .ps {
        display: none;
      }
    }
    .nexts {
      right: 262px;
      .ns {
        display: none;
      }
    }
  }

  .main_yhj {
    width: $w;
    height: 448px;
    background: url("./../images/bg3.gif") no-repeat;
    background-size: 100% 100%;
  }

  .ma {
    float: left;
    margin: 3px 3px 0 0;
    width: 184px;
    height: 276px;
    background-color: #fff;
    position: relative;
    text-decoration: none;
    img {
      width: 184px;
    }

    span {
      color: #666;
      font-size: 14px;
      display: block;
      margin: auto;
      width: 160px;
    }

    b {
      display: block;
      color: #c91212;
      font-size: 24px;
      font-weight: bold;
      position: absolute;
      left: 10px;
      bottom: 24px;

      &::first-letter {
        font-size: 12px;
      }
    }

    .shopBa {
      img {
        width: 60px;
        height: 16px;
        float: right;
        margin: 12px 18px 0 0;
      }
    }
  }

  .main_list1 {
    width: $w;
    height: 739px;
    background: url("./../images/bg2.jpg") no-repeat;
    background-size: 100%;
    overflow: hidden;

    .shopBox {
      margin: 120px auto 0;
      width: 996px;
      position: relative;

      .Shopmore {
        position: absolute;
        width: 50px;
        height: 20px;
        right: 164px;
        top: -43px;
      }

      .as {
        @extend .ma;
      }
    }
  }

  .main_tab {
    width: $w;
    background: url("./../images/bg4.jpg") no-repeat;
    background-size: 100%;
    overflow: hidden;
    position: relative;
    .Tabmore {
      position: absolute;
      width: 50px;
      height: 20px;
      left: 71%;
      top: 14.5%;
    }

    .tabBox {
      width: 996px;
      margin: 200px auto 0;
      display: none;
      .ta {
        @extend .ma;

        .zhiJiang {
          position: absolute;
          top: 0;
          width: 53px;
          height: 39px;
          background: url(https://cdns.lining.com/postsystem/docroot/images/promotion/201707/zhijiang.png)
            no-repeat center top;
          left: 123px;

          .zj1,
          .zj2 {
            font-size: 14px;
            color: rgb(254, 207, 132);
            width: 100%;
            text-align: center;
            height: 16px;
            line-height: 16px;
            display: block;
          }

          .zj2 {
            font-weight: bold;
          }
        }
      }
    }

    .tabTop {
      position: relative;
      .btnHover {
        background-color: #000;
        color: #fff;
      }

      button {
        border-radius: 10px;
        border: none;
        width: 141px;
        height: 38px;
        position: absolute;
        text-align: center;
        line-height: 38px;
        font-size: 23px;
        background-color: #fff;
        color: #000;
        top: 140px;
        outline: none;

        &:first-child {
          left: 35%;
        }

        &:last-child {
          left: 55%;
        }
      }
    }
  }

  .main_Bottom {
    width: $w;
    height: 328px;
    background: url("./../images/bg.jpg") no-repeat center;
    background-size: cover;
  }

  
}



