@import "./public.scss";

#shopList {
  width: 1260px;
  margin: 120px auto 0;
  overflow: hidden;
  // background: #fee;

  .listText {
    width: 210px;
    background: #aaa;
    text-align: center;

    .texts {
      width: 100%;
      height: 40px;
      text-align: center;
      line-height: 40px;
      color: #ffffff;
      font-weight: bold;
    }

    h2 {
      @extend .texts;
      background: #ed2738;
      cursor: pointer;
    }

    .little {
      .title {
        @extend .texts;
        background: #1d1d1d;
      }

      .lists {
        color: #333;
        overflow: hidden;
        background: #e7e7e7;
        padding: 12px 6px 12px 8px;
        a {
          width: 95px;
          height: 24px;
          line-height: 24px;
          text-align: left;
          color: #000000;
          font-size: 12px;
          float: left;

          &:hover {
            color: #f33;
          }
        }
      }
    }
  }

  .listShop {
    width: 1040px;
    background: #fff;

    .listTop {
      width: 100%;

      h3 {
        color: #333;
        min-height: 20px;
        overflow: hidden;
        width: 100%;
        color: #333;
        height: 20px;
        float: left;
        line-height: 20px;
        font-size: 14px;
        font-weight: bold;
        margin: 10px 4px 10px 0;
      }

      .shopMenu {
        width: 100%;

        .menu1 {
          width: 100%;
          height: auto;
          border-bottom: 1px solid #e6e6e6;
          overflow: hidden;

          &:first-child {
            border-top: 1px solid #e6e6e6;
          }

          .ma {
            float: left;
            font-size: 12px;
            color: #666666;
          }

          p {
            width: 75px;
            min-height: 40px;
            padding-left: 25px;
            line-height: 40px;
            background: #f0f0f0;
            @extend .ma;
          }
          a {
            height: 20px;
            margin: 10px 7px 10px 0;
            line-height: 20px;
            margin-left: 12px;
            padding: 0 15px;
            @extend .ma;

            &:hover {
              color: #f33;
            }
          }
        }
      }
    }

    .listMain {
      width: 100%;

      .lmTop {
        margin-top: 20px;
        color: #333;
        width: 100%;
        height: 40px;
        background: #f0f0f0;
        font-size: 12px;

        p {
          width: 85px;
          height: 40px;
          line-height: 40px;
          text-align: center;
          float: left;
        }

        .lmtUl {
          li {
            width: 65px;
            height: 40px;
            float: left;
            cursor: pointer;
            line-height: 40px;
            text-align: center;
            em {
              font-size: 12px;
              font-style: normal;
              pointer-events: none;
            }

            &:hover  {
              color: #fff;
              background: #f33;
              em{
                color: #fff;
                background: #f33;
              }
            }

            &.active {
              color: #fff;
              background: #f33;
            }
          }
        }

        .inpBox {
          input {
            width: 40px;
            height: 20px;
            display: block;
            float: left;
            padding: 0 5px;
            margin: 9px 5px;
            border: none;
            border: 1px solid #c9c9c9;
            font-size: 12px;
            line-height: 20px;
            text-align: left;
            background: #ffffff;
          }

          span {
            float: left;
            height: 40px;
            line-height: 37px;
          }

          .inpBn {
            width: 40px;
            height: 20px;
            float: left;
            margin: 10px 5px;
            line-height: 20px;
            text-align: center;
            background: #ed2937;
            color: #ffffff;
            cursor: pointer;
          }
        }
        .nowList{
          float: right;
          padding: 5px;
          margin:6px 5px 0 0;
          letter-spacing: 2px;
          font-weight: bold;
          color: #666;
        }
      }

      .lmBody {
        width: 100%;
        overflow: hidden;
        .lbs {
          color: #333;
          width: 208px;
          height: 323px;
          margin-top: 10px;
          float: left;
          
          &:hover {
            background: #ee2737;
            span,
            p {
              color: #fff;
            }
          }
          .imgBox {
            color: #333;
            cursor: pointer;
            width: 198px;
            height: 226px;
            margin: 5px;
            background: #ffffff;
            border-bottom: 1px solid #e7e7e7;
            .bigImg {
              margin: 0 10px;
              width: 166px;
            }
            .minImg {
              width: 133px;
              height: 48px;
              margin: 0 auto;
              img {
                margin: 8px 5px 5px 0;
                border: 1px solid #b8b8b8;
                float: left;
                width: 37px;
               
              }
            }
          }
          p {
           
            color: #333;
            padding: 0px;
            height: 35px;
            padding: 0;
            margin: 15px 10px 5px;
            font-size: 12px;
            word-break: normal;
          }
          span {
            display: block;
            height: 20px;
            margin:8px 10px;
            text-align: right;
            line-height: 20px;
            color: #e71b33;
            font-weight: bold;
          }
        }
      }
      .listFoot {
        color: #333;
        width: 100%;
        height: 35px;
        background: #f0f0f0;
        font-size: 12px;
        .pubilcText {
          height: 35px;
          float: right;
          line-height: 35px;
          margin-right: 10px;
        }
        .lfText {
          @extend .pubilcText;
        }
        .catalog {
          user-select: none;
          @extend .pubilcText;
          i {
            display: inline-block;
            height: 35px;
            line-height: 35px;
            margin: 0 5px;
            cursor: pointer;
            &.fontRed{
              color: #ee2737;
            }
          }
          em {
            height: 35px;
            display: inline-block;
            padding: 0 5px;
            line-height: 35px;
            cursor: pointer;
          }
        }
      }
    }
  }
}
#backTop{
  position: fixed;
  right: 0;
  top: 0px;
  color: #333;
  user-select: none;
  height: 100%;
}
