* {
  padding: 0;
  margin: 0;
}

.l {
  float: left;
}

.r {
  float: right;
}

img {
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: #333;
}

i, em {
  font-style: normal;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 16px;
}

#headers, #ft {
  width: 100%;
}

#headers {
  position: fixed;
  top: 0;
  z-index: 1111;
}

#ft {
  height: 350px;
}

.bRed {
  border-color: #f33 !important;
}

.cloak_on {
  display: block !important;
}

.cloak_off {
  display: none !important;
}

body {
  height: 100%;
}

#backTop {
  position: fixed;
  height: calc(100% - 80px);
  width: 42px;
  background: #000;
  top: 80px;
  right: 0;
  color: snow;
}

#backTop .btList {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#backTop .btList a {
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #aaa;
  height: 55px;
}

#backTop .btList a:first-child {
  height: 60px;
}

#backTop .btList a:first-child .logos {
  position: absolute;
  right: 42px;
}

#backTop .btList a:last-child {
  color: #fff;
  justify-content: flex-start;
  padding-top: 10px;
  flex-direction: column;
  box-sizing: border-box;
  visibility: hidden;
  border-bottom: none;
  flex-grow: 1;
}

#backTop .btList a:last-child span {
  cursor: pointer;
  user-select: none;
  width: 30px;
  text-align: center;
  font-size: 12px;
  padding-top: 15px;
}

#backTop .btList a .myLining {
  cursor: pointer;
  user-select: none;
  position: absolute;
  left: 0;
  top: 61px;
  color: white;
  text-align: center;
  width: 42px;
  background: #e65f5f;
  height: 55px;
  border-radius: 1px;
  font-size: 12px;
  display: none;
}

#backTop .btList a .myLining p {
  padding-top: 13px;
}

#backTop .btList a .gcar {
  cursor: pointer;
  user-select: none;
  position: absolute;
  left: 0;
  top: 117px;
  color: white;
  text-align: center;
  width: 42px;
  background: #e65f5f;
  height: 55px;
  border-radius: 1px;
  font-size: 12px;
  display: none;
}

#backTop .btList a .gcar p {
  padding-top: 20px;
}

#backTop .btList a .prope {
  cursor: pointer;
  user-select: none;
  position: absolute;
  left: 0;
  top: 173px;
  color: white;
  text-align: center;
  width: 42px;
  background: #e65f5f;
  height: 55px;
  border-radius: 1px;
  font-size: 12px;
  display: none;
}

#backTop .btList a .prope p {
  padding-top: 13px;
}

#backTop .btList a .coll {
  cursor: pointer;
  user-select: none;
  position: absolute;
  left: 0;
  top: 229px;
  color: white;
  text-align: center;
  width: 42px;
  background: #e65f5f;
  height: 55px;
  border-radius: 1px;
  font-size: 12px;
  display: none;
}

#backTop .btList a .coll p {
  padding-top: 13px;
}

#backTop .btList a .browse {
  cursor: pointer;
  user-select: none;
  position: absolute;
  left: 0;
  top: 285px;
  color: white;
  text-align: center;
  width: 42px;
  background: #e65f5f;
  height: 55px;
  border-radius: 1px;
  font-size: 12px;
  display: none;
}

#backTop .btList a .browse p {
  padding-top: 13px;
}

#backTop .btList a .cust {
  cursor: pointer;
  user-select: none;
  position: absolute;
  left: 0;
  top: 341px;
  color: white;
  text-align: center;
  width: 42px;
  background: #e65f5f;
  height: 55px;
  border-radius: 1px;
  font-size: 12px;
  display: none;
}

#backTop .btList a .cust p {
  padding-top: 20px;
}

#backTop .btList a .scan {
  cursor: pointer;
  user-select: none;
  position: absolute;
  left: 0;
  top: 397px;
  color: white;
  text-align: center;
  width: 42px;
  background: #e65f5f;
  height: 55px;
  border-radius: 1px;
  font-size: 12px;
  display: none;
}

#backTop .btList a .scan p {
  padding-top: 13px;
}

#backTop .btList .gcarNum {
  flex-direction: column;
}

#backTop .btList .gcarNum span {
  background: #f33;
  font-size: 12px;
  color: #fff;
  margin: 2px 0 0 6px;
  line-height: 12px;
  text-align: center;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  display: block;
}

#backTop .logos {
  width: 19px;
  height: 60px;
  position: fixed;
  right: 0;
  z-index: 900;
}

.hide {
  display: block;
}

.toggleLogo {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 899;
  display: none;
}

.toggleLogo img {
  width: 60px;
  cursor: pointer;
}
