* {
  padding: 0;
  margin: 0;
}

.l {
  float: left;
}

.r {
  float: right;
}

img {
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: #333;
}

i, em {
  font-style: normal;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 16px;
}

#headers, #ft {
  width: 100%;
}

#headers {
  position: fixed;
  top: 0;
  z-index: 999;
}

#ft {
  height: 350px;
}

.bRed {
  border-color: #f33 !important;
}

.cloak_on {
  display: block !important;
}

.cloak_off {
  display: none !important;
}

body {
  width: 100%;
  height: 100%;
}

#banner {
  margin-top: 80px;
}

#banner img {
  width: 100%;
}

.active {
  display: block !important;
}

#main {
  width: 100%;
}

#main .main_lbt {
  height: 346px;
  width: 100%;
  background: url("./../images/bg1.jpg") no-repeat;
  background-size: contain;
  position: relative;
}

#main .main_lbt .lbt {
  position: absolute;
  top: 68px;
  left: 300px;
  overflow: hidden;
  width: 705px;
  height: 250px;
  margin-left: 20px;
  overflow: hidden;
}

#main .main_lbt .lbt .carousel-item {
  transition: 0.5s;
}

#main .main_lbt .lbt img {
  height: 250px;
}

#main .main_lbt a {
  position: absolute;
  width: 50px;
  height: 70px;
  display: block;
  top: 46%;
}

#main .main_lbt .prevs {
  left: 262px;
}

#main .main_lbt .prevs .ps {
  display: none;
}

#main .main_lbt .nexts {
  right: 262px;
}

#main .main_lbt .nexts .ns {
  display: none;
}

#main .main_yhj {
  width: 100%;
  height: 448px;
  background: url("./../images/bg3.gif") no-repeat;
  background-size: 100% 100%;
}

#main .ma, #main .main_list1 .shopBox .as, #main .main_tab .tabBox .ta {
  float: left;
  margin: 3px 3px 0 0;
  width: 184px;
  height: 276px;
  background-color: #fff;
  position: relative;
  text-decoration: none;
}

#main .ma img, #main .main_list1 .shopBox .as img, #main .main_tab .tabBox .ta img {
  width: 184px;
}

#main .ma span, #main .main_list1 .shopBox .as span, #main .main_tab .tabBox .ta span {
  color: #666;
  font-size: 14px;
  display: block;
  margin: auto;
  width: 160px;
}

#main .ma b, #main .main_list1 .shopBox .as b, #main .main_tab .tabBox .ta b {
  display: block;
  color: #c91212;
  font-size: 24px;
  font-weight: bold;
  position: absolute;
  left: 10px;
  bottom: 24px;
}

#main .ma b::first-letter, #main .main_list1 .shopBox .as b::first-letter, #main .main_tab .tabBox .ta b::first-letter {
  font-size: 12px;
}

#main .ma .shopBa img, #main .main_list1 .shopBox .as .shopBa img, #main .main_tab .tabBox .ta .shopBa img {
  width: 60px;
  height: 16px;
  float: right;
  margin: 12px 18px 0 0;
}

#main .main_list1 {
  width: 100%;
  height: 739px;
  background: url("./../images/bg2.jpg") no-repeat;
  background-size: 100%;
  overflow: hidden;
}

#main .main_list1 .shopBox {
  margin: 120px auto 0;
  width: 996px;
  position: relative;
}

#main .main_list1 .shopBox .Shopmore {
  position: absolute;
  width: 50px;
  height: 20px;
  right: 164px;
  top: -43px;
}

#main .main_tab {
  width: 100%;
  background: url("./../images/bg4.jpg") no-repeat;
  background-size: 100%;
  overflow: hidden;
  position: relative;
}

#main .main_tab .Tabmore {
  position: absolute;
  width: 50px;
  height: 20px;
  left: 71%;
  top: 14.5%;
}

#main .main_tab .tabBox {
  width: 996px;
  margin: 200px auto 0;
  display: none;
}

#main .main_tab .tabBox .ta .zhiJiang {
  position: absolute;
  top: 0;
  width: 53px;
  height: 39px;
  background: url(https://cdns.lining.com/postsystem/docroot/images/promotion/201707/zhijiang.png) no-repeat center top;
  left: 123px;
}

#main .main_tab .tabBox .ta .zhiJiang .zj1,
#main .main_tab .tabBox .ta .zhiJiang .zj2 {
  font-size: 14px;
  color: #fecf84;
  width: 100%;
  text-align: center;
  height: 16px;
  line-height: 16px;
  display: block;
}

#main .main_tab .tabBox .ta .zhiJiang .zj2 {
  font-weight: bold;
}

#main .main_tab .tabTop {
  position: relative;
}

#main .main_tab .tabTop .btnHover {
  background-color: #000;
  color: #fff;
}

#main .main_tab .tabTop button {
  border-radius: 10px;
  border: none;
  width: 141px;
  height: 38px;
  position: absolute;
  text-align: center;
  line-height: 38px;
  font-size: 23px;
  background-color: #fff;
  color: #000;
  top: 140px;
  outline: none;
}

#main .main_tab .tabTop button:first-child {
  left: 35%;
}

#main .main_tab .tabTop button:last-child {
  left: 55%;
}

#main .main_Bottom {
  width: 100%;
  height: 328px;
  background: url("./../images/bg.jpg") no-repeat center;
  background-size: cover;
}

#backTop {
  position: fixed;
  right: 0;
  top: 0px;
  color: #333;
  user-select: none;
  height: 100%;
}
